<div class="row">
    <div class="col-sm">
        <app-header></app-header>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col">
            <h1>Listado Recursos</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Año</th>
                        <th scope="col">Color</th>
                        <th scope="col">Valor Pantone</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>fuchsia rose</td>
                        <td>2001</td>
                        <td>#C74375</td>
                        <td>@17-2031</td>
                        <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                        <td><i class="fas fa-edit"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>