<div class="row">
    <div class="col-sm">
        <app-header></app-header>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Año</th>
                        <th scope="col">Color</th>
                        <th scope="col">Valor Pantone</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let recurso of recursos">
                        <tr>
                        <th scope="row">{{recurso.id}}</th>
                        <td>{{recurso.name}}</td>
                        <td>{{recurso.year}}</td>
                        <td>{{recurso.color}}</td>
                        <td>{{recurso.pantone_value}}</td>
                        <td><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;<i class="fas fa-edit"></i></td>
                    </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>