<h5 class="section-title h1 text-center">Detalle Recurso</h5>
<div class="row">
    <div class="col">
        <div class="frontside">
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid"
                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                            alt="card image"></p>
                    <h4 class="card-title">Nombre</h4>
                    <p class="card-text text-left"><strong>Apellidos: </strong>1</p>
                    <span class="btn btn-primary btn-sm">email</span>
                </div>
            </div>
        </div>
    </div>
</div>