<div class="container">
    <div class="row">
        
        <div class="col">
            <h1>Listado Usuarios</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>FOTO</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                        <td><i class="fas fa-edit"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>FOTO</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                        <td><i class="fas fa-edit"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>FOTO</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                        <td><i class="fas fa-edit"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>