<div class="row">
    <div class="col-sm">
        <app-header></app-header>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col">
            <h1 class="text-center">Listado Usuarios</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let usuario of listaUsuarios">
                        <tr>
                            <th scope="row">{{ usuario.id }}</th>
                            <td><img src="{{ usuario.avatar }}" width="50px" class="img-fluid rounded-circle"></td>
                            <td>{{ usuario.first_name }}</td>
                            <td>{{ usuario.last_name }}</td>
                            <td>{{ usuario.email }}</td>
                            <td class="text-right">
                                <a class="btn btn-danger mr-1" href="#" role="button"><i class="fas fa-trash-alt"></i></a>  
                                <a class="btn btn-primary" href="#" role="button"><i class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <!-- Paginación -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1 </a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!--<app-detalle-usuario-component></app-detalle-usuario-component>-->
    </div>
</div>